[Unit]
Description=Wellensittich Auto-Deploy
Wants=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
User=jonet
ExecStart=~/git/wellensittich/deploy/deploy.sh
WorkingDirectory=~/git/wellensittich
